<!DOCTYPE html>
<html>
<head>
    <title>Start</title>
</head>
<body>
	<table>
	 	<thead>
        	<tr>
            	<th colspan="2">The table header</th>
        	</tr>
    	</thead>
    	<tbody>
        	<tr>
           	 	<td>
              		<img src="{{ url_for('static', filename = 'images/'+user_image) }}" align="left" alt="User Image">
            	</td>
          	  	<td>
            		<img src="{{ url_for('static', filename = 'images/'+user_image_g) }}"  align="left" alt="User Image Grayscale">
            	</td>
            </tr>
            <tr>     
			  	<td colspan="2">
			  	  <form method="POST" action="test">
			    		<input type="range" value={{value1}} min={{min_1}} max={{max_1}} name="Slider_1" class="slider" step="0.01" align="bottom"/>			    		
			    		<input id="rangeInput1" value={{value2}} type="range" min={{min_2}} max={{max_2}} name="Slider_2" class="slider" step="0.01" align="bottom"
			    		oninput="amount1.value=rangeInput1.value"/>
			    		<input id="amount1" type="number" value={{value2}} min={{min_2}} max={{max_2}} step="0.01" 
			    		oninput="rangeInput1.value=amount1.value"/>
			    		
			    		<input type="range" value={{value3}} min={{min_1}} max={{max_1}} name="Slider_3" class="slider" step="0.01" align="bottom"/>
			    		<input id="rangeInput2" value={{value4}} type="range" min={{min_2}} max={{max_2}} name="Slider_4" class="slider" step="0.01" align="bottom"
			    		oninput="amount2.value=rangeInput2.value"/>
			    		<input id="amount2" type="number" value={{value4}} min={{min_2}} max={{max_2}} step="0.01"
			    		oninput="rangeInput2.value=amount2.value"/>

						<input type="range" value={{value5}} min={{min_1}} max={{max_1}} name="Slider_5" class="slider" step="0.01" align="bottom"/>
			    		<input id="rangeInput3" value={{value6}} type="range" min={{min_2}} max={{max_2}} name="Slider_6" class="slider" step="0.01" align="bottom" 
			    		oninput="amount3.value=rangeInput3.value"/>
   						<input id="amount3" type="number" value={{value6}} min={{min_2}} max={{max_2}} step="0.01" 
   						oninput="rangeInput3.value=amount3.value"/>
    
			     	 	<input type="submit" value="submit"/>
			    	</form>
            	</td>
        	</tr>
  	  </tbody>
	</table>
</body>
</html>
